<p>This is the partial for view 4.</p>
<ul>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
  <li class=many-elements>many elements</li>
</ul>